<header>
  <h1>订单</h1>
</header>

<table class="table">
  <tr>
    <th>订单号</th>
    <th>订单总价</th>
    <th>收货人姓名</th>
    <th>收货地址</th>
    <th>付款方式</th>
    <th>邮寄方式</th>
    <th>选项</th>
  </tr>

  <% current_user.orders.each do |order| %>
    <tr>  
      <td><%= order.id %></td>
      <td><%= order.total_price %></td>
      <td><%= order.address.name %></td>
      <td><%= order.address.addr %></td>
      <td><%= order.pay_method %></td>
      <td><%= order.deliver_method %></td>
      <td>
        <% unless order.paid? %>
          <%= link_to "付款", create_pay_path( order.id ),
            class: "btn btn-primary" %>
        <% end %>
        <%= link_to "详情", order_path(order) %>
      </td>
    </tr>
  <% end %>
</table>
